.toggle {
  background: var(--code-bg);
  border: 1px solid var(--border);
  cursor: pointer;
  width: 42px;
  height: 22px;
  border-radius: 11px;
  padding: 2px;
  position: relative;
  transition: all 0.2s;
}

.indicator {
  display: block;
  width: 16px;
  height: 16px;
  background: var(--foreground);
  border-radius: 50%;
  transition: transform 0.2s;
}

[data-theme='light'] .indicator {
  transform: translateX(20px);
}

[data-theme='dark'] .indicator {
  transform: translateX(0);
}

@media (prefers-color-scheme: dark) {
  :global([data-theme='system']) .indicator {
    transform: translateX(0);
  }
}